<tbody>
<% @book.each do |book| %>
 <tr>
   <%= image_tag book.get_image %>
   <td>user<%= image_tag 'no_image2' %></td>
   <td>title<%= book.title %></td>
   <td>opinion<%= book.body %></td>
 </tr>
 </tbody>
<% end %>
